@import "../scss/typography";

body {
  font-family: $font-family;
  font-size: $font-size;

  h1 {
    font-size: $h1-size;
  }
  h2 {
    font-size: $h2-size;
  }
  h3 {
    font-size: $h3-size;
  }
  h4 {
    font-size: $h4-size;
  }
  h5 {
    font-size: $h5-size;
  }
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
